* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #fff;
  max-width: 40em;
  margin: 0 auto;
  color: #000;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.125em;
}
h3 {
  font-size: 1.0125em;
}

figure {
  padding: 0;
  margin: 0;
  background: #fff5be;
}

figure a,
figure img {
  width: 100%;
  display: block;
}

figure > figcaption {
  text-align: center;
  width: 100%;
  font-family: courier;
  font-size: 12px;
  display: block;
}

figure > figcaption > p {
  padding: 5px;
  margin-top: 0;
}

.read-more {
  display: block;
  margin-top: 10px;
}

main {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

aside {
  padding: 20px;
}

.site-header {
  background: #efefef;
  padding: 5px 10px;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav li {
  list-style: none;
  display: inline;
}

.nav a {
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
}

a {
  color: blue;
}

a:visited {
  color: midnightblue;
}

p {
  margin-bottom: 1rem;
}

.timestamp {
  font-size: small;
  font-family: courier;
}

.site-footer {
  border-top: 1px solid #ccc;
  display: flex;
  padding: 10px 10px;
  font-size: 80%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5em;
}

time {
  margin-bottom: 5px;
  color: dimgrey;
  display: inline-block;
}

.posttitle {
  margin-bottom: 0;
}

.posttitle + time {
  font-size: small;
  display: block;
  margin-bottom: 1rem;
}

/* Small */
@media only screen and (max-width: 45em),
  only screen and (max-device-width: 45em),
  only screen and (orientation: portrait) and (max-device-width: 50em) {
}

/* Really small screens */
@media screen and (max-width: 25em) {
}

/* on the iPad Mini in portrait mode, enlarge text size. */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
}
/* with a <meta> viewport, need to *shrink* the font size slightly on an
   iPad Mini in landscape? */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .maintext,
  .sidebar {
    font-size: 90%;
  }
}

pre,
code {
  font-size: 16px;
  word-wrap: break-word;
}
pre {
  margin-left: 1.5em;
  line-height: 1.2;
}
a {
  color: blue;
}

h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
  color: inherit;
}

.author {
  display: none;
}

img {
  max-width: 100%;
}

pre.sourceCode span.st {
  color: #366354;
}
pre.sourceCode span.kw {
  color: #397460;
}
pre.sourceCode span.fu {
  color: #8f4e8b;
}
pre.sourceCode span.ot {
  color: #2e659c;
}
pre.sourceCode span.dt {
  color: #4f4371;
}
pre.sourceCode span.co {
  color: #666;
}
@media (max-width: 767px) {
}
