<footer class="site-footer">
  <ul class="nav">
    <li><a href="mailto:jeroen@daele.be">Contact</a></li>
    <li><a href="http://be.linkedin.com/in/jeroenbourgois">LinkedIn</a></li>
    <li><a href="https://github.com/jeroenbourgois">Github</a></li>
    <li><a href="https://jackjoe.be">Jack + Joe</a></li>
    <li><a href="https://www.awekas.at/nl/instrument.php?id=19890">⛅ Awekas</a></li>
    <li><a href="https://www.wunderground.com/dashboard/pws/IZWEVE15">⛅ Wunderground</a></li>
  </ul>
  <span>&copy; 2020</span>
</footer>
